.productsList {
    width: 90%;
}

.products {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.addProduct {
    width: 90%;
    margin-left: 1.2%;
}